@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    background-color: rgb(238, 238, 238);
    display: flex;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
  }
  
  /* Instagram */
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  
  /* WhatsApp */
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
    
  .socialSvg {
    width: 30px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  